{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="max-width: 40rem;">
            <div class="card-body">
                <form action="/rover" method="post" id="roverForm">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="userId" class="form-label">User Id</label>
                            <input class="form-control" id="userId" name="user_id">
                        </div>
                        <div class="col">
                            <label for="userName" class="form-label">User Name</label>
                            <input class="form-control" id="userName" name="user_name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="userApiKey" class="form-label">User Api-Key</label>
                            <input class="form-control" id="userApiKey" name="user_api_key" aria-describedby="apiKeyHelp">
                            <div id="apiKeyHelp" class="form-text">We'll never share your api-key with anyone else.</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('roverForm').addEventListener('submit', (e) => {
        showSpinner();
    })
</script>
{% endblock %}
