<div class="container">
    <div class="row">
        <div class="col">
            {% if response.count %}
                <h5 class="fs-16">Count: <span class="badge bg-soft-secondary">{{ response.count }}</span></h5>
            {% endif %}
        </div>
        <div class="col">
            {% if not (response.wereDangerousMeteors===null or response.wereDangerousMeteors===undefined) %}
                <h5 class="fs-16">
                    Were Dangerous Meteors:
                    {% if response.wereDangerousMeteors==true %}
                        <span class="badge bg-soft-secondary">YES</span>
                    {% else %}
                        <span class="badge bg-soft-secondary">NO</span>
                    {% endif %}
                </h5>
            {% endif %}
        </div>
    </div>
</div>